.previousButton {
    background-color: #d0c4c2;
    width: 35px;
    height: 35px;
    padding-top: 3px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}

.previousButton:hover {
    background-color: #c7bab8;

}


.nextButton {
    background-color: #d0c4c2;
    padding-top: 3px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(50%);
}

.nextButton:hover {
    background-color: #c7bab8;
}



@media (min-width: 730px) {

    .nextButton,
    .previousButton {
        width: 50px;
        height: 50px;
    }

}