.form_wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
}

.form {
  width: 300px;
  padding: 0 10px 10px;
  background-color: #fff;
  border-bottom: #d0c4c2 solid 14px;
  border-top: #d0c4c2 solid 14px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  margin: 20px 0 0;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #686868;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.inner_form {
  height: 290px;
  position: relative;
  margin: 20px 0;
  background-color: rgba(208, 196, 194, 0.5);
  padding: 20px 8px;
  text-align: center;
  border-radius: 5px;
}

.logo {
  width: 130px;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (min-width: 640px) {
  .form {
    width: 500px;
    border-radius: 14px;
    padding: 20px 40px40px;
  }

  h1 {
    font-size: 30px;
    margin: 30px 0 20px;
  }

  .inner_form {
    padding: 14px 10px 20px;
  }

  .logo {
    width: 150px;
  }

  .wrapper {
    padding-top: 20px;
  }
}
