.input_wrapper {
  width: 260px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  margin: 0 auto;
}

.input_other {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text_input {
  font-size: 14px;
  border: none;
  border-radius: 3px;
  padding: 1px 3px;
}

@media (min-width: 640px) {
  .text_input {
    font-size: 18px;
  }
}
