.text {
  font-size: 14px;
  color: #b91c1c;
  text-align: start;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .text {
    margin-left: 0;
    text-align: center;
  }
}
