.imageContainer {
  background-image: url("/assets/dog.jpg");
  background-size: cover;
  background-position: 50% 70%;
  height: 300px; 
  
}



/* .heroImage {
  max-width: 100%; /* Ensure the image does not exceed its container */
 /* max-height: 50%; /* Ensure the image does not exceed its container */
  /* border-radius: 10px; /* Rounded corners for the image */
  /* width: fit-content; */ 
/* }   */

 
  
  



